modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

    modal > #modal-background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    modal > #modal-content-container {
        position: fixed;
        top: 15vh;
        z-index: 2;
        min-width: 35vw;
        max-width: 40vw;
        max-height: 70vh;
        overflow: hidden;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

        modal > #modal-content-container > * {
            display: flex;
            padding: 8px;
        }

        modal > #modal-content-container > header > h2 {
            margin: 0;
        }

        modal > #modal-content-container > header > button {
            max-width: 24px;
            max-height: 24px;
            line-height: 24px;
            font-size: 24px;
            opacity: 0.5;
            margin: auto auto;
        }

            modal > #modal-content-container > header > button:hover {
                opacity: 1;
            }

        modal > #modal-content-container > main {
            max-height: 55vh;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }

            modal > #modal-content-container > main > section {
                word-wrap: break-word;
            }

                modal > #modal-content-container > main > section:not(:last-child) {
                    padding-bottom: 16px;
                    border-bottom: 1px solid currentColor;
                }

                modal > #modal-content-container > main > section > * {
                    white-space: normal;
                    font-weight: 300;
                }

                modal > #modal-content-container > main > section img {
                    margin: 0 auto;
                    display: block;
                }

                modal > #modal-content-container > main > section > h3 {
                    margin-top: 15px;
                    margin-bottom: 8px;
                }

        modal > #modal-content-container > footer {
            border-top: 1px solid rgba(255, 255, 255, 0.25);
            padding-top: 15px;
            padding-bottom: 0px;
        }

    modal #footer-link-left {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: inherit;
    }

        modal #footer-link-left > p {
            padding-left: 7px;
            font-size: 12px;
            white-space: pre-line;
            margin: auto 0;
        }

    modal #footer-link-right {
        text-decoration: none;
        color: inherit;
        margin-left: 20px;
    }

    modal > #modal-content-container > main img {
        align-self: center;
        padding-top: 8px;
    }
