<app-header></app-header>
<app-panels>
    <app-panel [(active)]="uiMgr.bookmarksPanelActive" icon="bookmark" panelTitle="New releases" [ngClass]="themeClasses" i18n-panelTitle="@@panel-bookmarks">
        <div>
            <div class="bookmark-panel theme-text" *ngFor="let bookmark of bookmarks" (click)="goToBookmark(bookmark)">
                <i class="material-icons" *ngIf="bookmark.selected == false">bookmark_border</i>
                <i class="material-icons" *ngIf="bookmark.selected == true">bookmark</i>
                <p>{{ bookmark.name }}</p>
            </div>
        </div>
    </app-panel>
    <app-panel [(active)]="uiMgr.tocPanelActive" icon="layers" panelTitle="Table of contents" [ngClass]="themeClasses" i18n-panelTitle="@@panel-toc">
        <app-tabs class="theme-text">
            <app-tab label="Layer List" i18n-label="@@panel-toc-layerlist">
                <div #layerListDiv class="theme-text"></div>
            </app-tab>
            <app-tab label="Legend" i18n-label="@@panel-toc-legend">
                <div #legendDiv class="theme-text"></div>
            </app-tab>
            <app-tab label="Opacity" i18n-label="@@panel-toc-opacity" id="toc-opacity-tab">
                <section *ngFor="let layer of mapService.VisibleLayers">
                    <label [ngClass]="['layer-opacity-title']">{{layer.title}}</label>
                    <input type="range" [(ngModel)]="layer.opacity" min="0" max="1" step="0.05" />
                </section>
            </app-tab>
        </app-tabs>
    </app-panel>
    <app-panel [(active)]="uiMgr.basemapPanelActive" icon="dashboard" panelTitle="Basemap Select" [ngClass]="themeClasses" i18n-panelTitle="@@panel-basemap">
        <select [(ngModel)]="mapService.BasemapId" [ngClass]="[appCfg.BgClass, appCfg.TxtClass]" class="basemap-select">
            <option data-vector="streets-vector" value="streets" i18n="@@basemap-streets">
                Streets
            </option>
            <option data-vector="satellite" value="satellite" i18n="@@basemap-satellite">
                Satellite
            </option>
            <option data-vector="topo-vector" value="topo" i18n="@@basemap-topographic">
                Topographic
            </option>
            <option data-vector="gray-vector" value="gray" i18n="@@basemap-gray">
                Gray
            </option>
            <option data-vector="dark-gray-vector" value="dark-gray" i18n="@@basemap-dark-gray">
                Dark Gray
            </option>
            <option data-vector="osm" value="osm">
                Open Street Map
            </option>
        </select>
    </app-panel>
    <!--<app-panel [(active)]="uiMgr.newLayerPanelActive" icon="add" panelTitle="Add new service" [ngClass]="themeClasses" i18n-panelTitle="@@panel-new-service">

    </app-panel>-->
    <app-panel [(active)]="uiMgr.menuPanelActive" icon="settings" panelTitle="Settings" [ngClass]="themeClasses" i18n-panelTitle="@@panel-settings">
        <div class="menu-panel">
            <h1 class="theme-text" i18n="@@head-shadows">Shadows</h1>
            <div class="menu-panel-indent">
                <label [ngClass]="['panel-settings-label']" i18n="@@month-in-year">Month in year ({{uiMgr.vSrvc.Month + 1}})</label>
                <input type="range" [(ngModel)]="uiMgr.vSrvc.Month" min="0" max="11" step="1" (change)="viewService.refresh()" />

                <label [ngClass]="['panel-settings-label']" i18n="@@time-of-day">Time of day ({{uiMgr.vSrvc.Hour}})</label>
                <input type="range" [(ngModel)]="uiMgr.vSrvc.Hour" min="0" max="23" step="1" (change)="viewService.refresh()" />
            </div>
            <div [ngClass]="['shadow-toggles-container', 'border-bottom']" style="padding-bottom: 15px;">
                <button-toggle [ngClass]="[themeClasses]" style="border: 1px solid;" [active]="uiMgr.vSrvc.View.environment.lighting.directShadowsEnabled" (click)="uiMgr.vSrvc.View.environment.lighting.directShadowsEnabled=!uiMgr.vSrvc.View.environment.lighting.directShadowsEnabled" i18n="@@shadows">Shadows</button-toggle>
                <button-toggle [ngClass]="[themeClasses]" style="border: 1px solid;" [active]="uiMgr.vSrvc.View.environment.lighting.ambientOcclusionEnabled" (click)="uiMgr.vSrvc.View.environment.lighting.ambientOcclusionEnabled=!uiMgr.vSrvc.View.environment.lighting.ambientOcclusionEnabled" i18n="@@ambient-occulsion">Ambient Occulsion</button-toggle>
            </div>
            <h1 class="theme-text" i18n="@@edges">Edges</h1>
            <div class="menu-panel-indent border-bottom" style="padding-bottom: 8px;">
                <div class="theme-text" *ngFor="let sceneLayer of sceneLayers">
                    <p>{{ sceneLayer.title }}</p>
                    <div class="radio_buttons">
                        <input type="radio" id="{{ sceneLayer.title + 'solidedges' }}" *ngIf="sceneLayer.availableEdges.includes('solid')" name="{{ sceneLayer.title }}" (click)="addEdgeToLayer(sceneLayer, 'solid')" [checked]="sceneLayer.defaultEdge == 'solid'" />
                        <label for="{{ sceneLayer.title + 'solidedges' }}" i18n="@@solid" *ngIf="sceneLayer.availableEdges.includes('solid')">Solid edge</label>
                        <input type="radio" id="{{ sceneLayer.title + 'sketchedges' }}" *ngIf="sceneLayer.availableEdges.includes('sketch')" name="{{ sceneLayer.title }}" (click)="addEdgeToLayer(sceneLayer, 'sketch')" [checked]="sceneLayer.defaultEdge == 'sketch'" />
                        <label for="{{ sceneLayer.title + 'sketchedges' }}" i18n="@@sketch" *ngIf="sceneLayer.availableEdges.includes('sketch')">Sketch edge</label>
                        <input type="radio" id="{{ sceneLayer.title + 'noedges' }}" *ngIf="sceneLayer.availableEdges.includes('no-edge')" name="{{ sceneLayer.title }}" (click)="addEdgeToLayer(sceneLayer, 'no-edges')" [checked]="sceneLayer.defaultEdge == 'no-edge'" />
                        <label for="{{ sceneLayer.title + 'noedges' }}" i18n="@@noedge" *ngIf="sceneLayer.availableEdges.includes('no-edge')">No edge</label>
                    </div>
                </div>
            </div>
            <h1 class="theme-text" i18n="@@pointcloud">Point Cloud</h1>
            <div class="menu-panel-indent border-bottom">
                <div class="theme-text label-size" *ngFor="let pointCloudLayer of pointCloudLayers">
                    <p class="title-point-cloud">{{ pointCloudLayer.label }}</p>
                    <label for="size" *ngIf="pointCloudLayer.pointSizes != null" i18n="@@pointsize">Point size</label>
                    <input type="range" name="size" *ngIf="pointCloudLayer.pointSizes != null" [min]="pointCloudLayer.pointSizes.min" [max]="pointCloudLayer.pointSizes.max" step="0.5" [value]="pointCloudLayer.pointSizes.init" #reff (change)="changePointCloudLayer(pointCloudLayer, reff.value)" />
                    <label for="inch" *ngIf="pointCloudLayer.pointDensity != null" i18n="@@pointinch">Point per inch</label>
                    <input type="range" name="inch" *ngIf="pointCloudLayer.pointDensity != null" [min]="pointCloudLayer.pointDensity.min" [max]="pointCloudLayer.pointDensity.max" step="1" [value]="pointCloudLayer.pointDensity.init" #ref (change)="changePointDensityCloudLayer(pointCloudLayer, ref.value)" />
                </div>
            </div>
            <h1 class="theme-text" i18n="@@add-new-service">Add new service</h1>
            <div class="menu-panel-indent">
                <div class="row">
                    <input [ngClass]="[appCfg.BgClass, appCfg.TxtClass]" style="text-indent:10px;" [(ngModel)]="layerUrl" placeholder="Layer url" type="url" i18n-placeholder="@@url">
                </div>
                <div class="row">
                    <select [(ngModel)]="layerType" [ngClass]="[appCfg.BgClass, appCfg.TxtClass]">
                        <option [ngValue]="undefined" hidden i18n="@@service-type">Service type:</option>
                        <option *ngFor="let layerType of appCfg.getSupportedLayerTypes()" [ngValue]="layerType">{{ layerType }}</option>
                    </select>
                </div>
                <div class="row">
                    <input [ngClass]="[appCfg.BgClass, appCfg.TxtClass]" style="text-indent:10px;" [(ngModel)]="layerTitle" placeholder="Title" type="text" i18n-placeholder="@@title">
                </div>
            </div>
            <div class="flex-container">
                <button [ngClass]="[appCfg.BgClass, appCfg.TxtClass]" style="border: 1px solid;" (click)="newLayer()" type="button" i18n="@@add-service">
                    Add service
                </button>
            </div>
        </div>
    </app-panel>
    <!--<app-panel [(active)]="uiMgr.settingsPanelActive" icon="wb_sunny" panelTitle="Shadows" [ngClass]="themeClasses" i18n-panelTitle="@@panel-shadows">

    </app-panel>-->
</app-panels>

<!-- Tool output -->
<app-tool-description class="theme-bg theme-text" *ngIf="uiMgr.toolDescriptionActive && toolMgr.ActiveTool">
    <div class="description theme-bg">
        <div class="description-tool">
            <h3 class="description-button" i18n="@@tool-description">Tool description:</h3>
            <button title="Clear" (click)="uiMgr.toggleToolDescription()" class="description-button"><i class="output-icon esri-icon-close"></i></button>
        </div>
        <div class="description-tools">
            <p *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Point" [innerHtml]="getPointContent()"></p>
            <p *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Line" [innerHtml]="getLineContent()"></p>
            <p *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Multiple" [innerHtml]="getMultipleContent()"></p>
            <p *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Polygon" [innerHtml]="getPolygonContent()"></p>
            <p *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Circle" [innerHtml]="getCircleContent()"></p>
        </div>
    </div>
</app-tool-description>
<app-tool-output class="theme-bg theme-text" *ngIf="toolMgr.ActiveTool">
    <div id="toolbar-card">
        <table>
            <tr>
                <!--<td colspan="2"><p i18n="@@output-tool-name">{ toolMgr.ActiveTool.Name, select, Draw {Draw} Measure {Measure} Select {Select} }</p></td>-->
                <td [attr.colspan]="toolMgr.ActiveTool.AvailableModes.length">
                    <i title="Measure" i18n-title="@@measure" class="output-icon icon-measure material-icons" style="font-family: 'mfg_labs_iconsetregular';" *ngIf="toolMgr.ActiveTool == toolMgr.MeasureTool"></i>
                    <i title="Draw" i18n-title="@@draw" class="output-icon icon-pen material-icons" style="font-family: 'mfg_labs_iconsetregular';" *ngIf="toolMgr.ActiveTool == toolMgr.DrawTool"></i>
                    <i title="Select" i18n-title="@@select" class="output-icon material-icons" *ngIf="toolMgr.ActiveTool == toolMgr.SelectTool">album</i>
                </td>
            </tr>
            <tr>
                <td *ngFor="let mode of toolMgr.ActiveTool.AvailableModes">
                    <!--<select placeholder="Mode" [(ngModel)]="toolMgr.ActiveTool.CurActiveMode" class="theme-bg theme-text">
                        <option *ngFor="let mode of toolMgr.ActiveTool.AvailableModes" [value]="mode" i18n="@@output-tool-mode">{ mode, select, Point {Point} Line {Line} Polygon {Polygon} Multiple {Multiple} }</option>
                    </select>-->
                    <button-toggle class="theme-bg" [title]="removeHtmlComments(altValueToolModes.innerHTML)" [active]="toolMgr.ActiveTool.CurActiveMode==mode" (click)="toolMgr.ActiveTool.CurActiveMode=mode">
                        <div hidden>
                            <span #altValueToolModes i18n="@@output-tool-modes">{ mode, select, Point {Point} Line {Line} Polygon {Polygon} Multiple {Multiple} Single {Single} Circle {Circle}}</span>
                        </div>
                        <i class="output-icon" [ngClass]="{'esri-icon-map-pin': mode == ToolMode.Point || ToolMode.Multiple,'esri-icon-polyline': mode==ToolMode.Line,'esri-icon-polygon': mode==ToolMode.Polygon,'esri-icon-locate': mode==ToolMode.Circle}"></i>
                    </button-toggle>
                </td>
            </tr>
            <tr>
                <td [attr.colspan]="toolMgr.ActiveTool.AvailableModes.length" *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Circle">
                    <label for="radius" i18n="@@radius">Radius:</label>
                    <input class="theme-bg" type="number" name="radius" min="0" [max]="maxRadius" [(ngModel)]="toolMgr.ActiveTool.circleRadius" (focusout)="focusOutFunction()">
                    <label>m</label>
                    <input class="theme-bg without-border" type="range" name="radius1" min="0" [max]="maxRadius" [(ngModel)]="toolMgr.ActiveTool.circleRadius">
                </td>
                <td [attr.colspan]="toolMgr.ActiveTool.AvailableModes.length" *ngIf="toolMgr.ActiveTool.CurActiveMode != ToolMode.Circle">
                </td>
            </tr>
            <tr>
                <td [attr.colspan]="toolMgr.ActiveTool.AvailableModes.length" class="theme-bg">
                    <div class="theme-bg buttons">
                        <button title="Info" i18n-title="@@info" (click)="uiMgr.toggleToolDescription()"><i class="output-icon esri-icon-question"></i></button>
                        <button-toggle [title]="removeHtmlComments(altValueShowHide.innerHTML)" [active]="toolMgr.ActiveTool.Hidden" (click)="toolMgr.ActiveTool.Hidden=!toolMgr.ActiveTool.Hidden"><i class="output-icon" [ngClass]="toolMgr.ActiveTool.Hidden ? 'esri-icon-non-visible' : 'esri-icon-visible' "></i></button-toggle>
                        <div hidden>
                            <span #altValueShowHide i18n="@@output-show-hide">{'' + toolMgr.ActiveTool.Hidden, select, true {Show} false {Hide} }</span>
                        </div>
                        <button title="Clear" i18n-title="@@clear" (click)="toolMgr.ActiveTool.clear()"><i class="output-icon esri-icon-close"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- Measure tool -->
    <ng-container *ngIf="toolMgr.ActiveTool == toolMgr.MeasureTool">
        <!-- Line mode -->
        <ng-container *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Line">
            <div id="measure-line-fixed-card" style="display:flex;">
                <table style="min-width:30px;">
                    <tr><td><p>&nbsp;</p></td></tr>
                    <tr><th><div title="Go to full extent" i18n-title="@@go-to-full-extent" class="zoom-to-line-btn esri-icon-zoom-out-fixed" (click)="viewService.goToPolyline(toolMgr.MeasureTool.LastLine.Extent)" *ngIf="toolMgr.MeasureTool.LastLine"></div></th></tr>
                    <tr><td><div title="Clear" i18n-title="@@clear" class="remove-line-btn esri-icon-close" (click)="toolMgr.MeasureTool.LastLine.removeFromGraphicsLayer()" *ngIf="toolMgr.MeasureTool.LastLine"></div></td></tr>
                    <tr><td><p>&nbsp;</p></td></tr>
                </table>
                <table class="theme-bg">
                    <tr><th colspan="2" class="theme-bg"><p>Σ</p></th></tr>
                    <tr><td class="theme-bg"><p>D</p></td><td class="content-color"><p>{{toolMgr.MeasureTool.LastLine ? (toolMgr.MeasureTool.LastLine.TotalLength.Distance3d | number:'1.0-2') : 0 }} m</p></td></tr>
                    <tr><td class="theme-bg"><p>d</p></td><td class="content-color"><p>{{toolMgr.MeasureTool.LastLine ? (toolMgr.MeasureTool.LastLine.TotalLength.Distance2d | number:'1.0-2') : 0 }} m</p></td></tr>
                    <tr><td class="theme-bg"><p>Δh</p></td><td class="content-color"><p>{{toolMgr.MeasureTool.LastLine ? (toolMgr.MeasureTool.LastLine.TotalLength.HeightDiff | number:'1.0-2') : 0 }} m</p></td></tr>
                </table>
            </div>
            <div class="cards" *ngIf="toolMgr.MeasureTool.LastLine">
                <table class="card theme-bg point-coords-card" *ngFor="let dataItem of toolMgr.MeasureTool.LastLine.DataReverse" style="margin-right: 1px !important;">
                    <ng-container *ngIf="isPoint(dataItem)">
                        <tr>
                            <th colspan="1" class="theme-bg">
                                <p>{{dataItem.Label}}</p>
                            </th>
                            <th colspan="1" class="theme-bg">
                                <div class="no-select">
                                    <div class="fill-remaining-space"></div>
                                    <div title="Zoom To" i18n-title="@@zoomto" class="go-to-point-extent-btn esri-icon-zoom-in-fixed" (click)="viewService.goToPoint(dataItem.Longitude, dataItem.Latitude)"></div>
                                </div>
                            </th>
                        </tr>
                        <tr class="content-color"><td class="theme-bg"><p>X</p></td><td><p>{{((dataItem.ProjectedMapPoint | async) ? (dataItem.ProjectedMapPoint | async).x : 0) | number:'1.0-2'}}</p></td></tr>
                        <tr class="content-color"><td class="theme-bg"><p>Y</p></td><td><p>{{((dataItem.ProjectedMapPoint | async) ? (dataItem.ProjectedMapPoint | async).y : 0) | number:'1.0-2'}}</p></td></tr>
                        <tr class="content-color"><td class="theme-bg"><p>Z</p></td><td><p>{{((dataItem.ProjectedMapPoint | async) ? (dataItem.ProjectedMapPoint | async).z : 0) | number:'1.0-2'}}</p></td></tr>
                    </ng-container>
                    <ng-container *ngIf="!isPoint(dataItem)">
                        <tr><th colspan="2" class="theme-bg"><p>&nbsp;</p></th></tr>
                        <tr class="content-color"><td class="theme-bg"><p>D</p></td><td><p>{{dataItem.Distance3d | number:'1.0-2'}} m</p></td></tr>
                        <tr class="content-color"><td class="theme-bg"><p>d</p></td><td><p>{{dataItem.Distance2d | number:'1.0-2'}} m</p></td></tr>
                        <tr class="content-color"><td class="theme-bg"><p>Δh</p></td><td><p>{{dataItem.HeightDiff | number:'1.0-2'}} m</p></td></tr>
                    </ng-container>
                </table>
            </div>
        </ng-container>
        <!-- Point mode -->
        <ng-container *ngIf="toolMgr.ActiveTool.CurActiveMode == ToolMode.Point">
            <div class="cards">
                <ng-container *ngFor="let point of toolMgr.ActiveTool.PointModeOutputReverse">
                    <table class="card theme-bg point-coords-card">
                        <tr>
                            <th colspan="1" class="theme-bg">
                                <p>{{ point?.Label }}</p>
                            </th>
                            <th colspan="1" class="theme-bg">
                                <div class="no-select">
                                    <div class="fill-remaining-space"></div>
                                    <div title="Zoom To" i18n-title="@@zoomto" class="go-to-point-extent-btn esri-icon-zoom-in-fixed" (click)="viewService.goToPoint(point.Longitude, point.Latitude)"></div>
                                    <div title="Remove" i18n-title="@@remove" class="remove-point-btn esri-icon-close" (click)="point.removeFromGraphicsLayer()"></div>
                                </div>
                            </th>
                        </tr>
                        <tr class="content-color"><td class="theme-bg"><p>X</p></td><td><p>{{ ((point?.ProjectedMapPoint | async) ? (point.ProjectedMapPoint | async)?.x : 0) | number:'1.0-2' }}</p></td></tr>
                        <tr class="content-color"><td class="theme-bg"><p>Y</p></td><td><p>{{ ((point?.ProjectedMapPoint | async) ? (point.ProjectedMapPoint | async)?.y : 0) | number:'1.0-2' }}</p></td></tr>
                        <tr class="content-color"><td class="theme-bg"><p>Z</p></td><td><p>{{ ((point?.ProjectedMapPoint | async) ? (point.ProjectedMapPoint | async)?.z : 0) | number:'1.0-2' }}</p></td></tr>
                    </table>
                    <div class="fields-container">
                        <table class="card theme-bg card-fields">
                            <tr *ngFor="let entry of point.PropsArray"><td class="theme-bg"><p>{{ entry[0] }}</p></td><td class="content-color"><p>{{ entry[1] }}</p></td></tr>
                        </table>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <!-- Select tool -->
    <ng-container *ngIf="toolMgr.ActiveTool == toolMgr.SelectTool">
        <div id="select-fixed-card" *ngIf="toolMgr.SelectTool.EnabledAnalysisOperations.length > 0">
            <table class="theme-bg">
                <tr>
                    <th colspan="2">
                        <p i18n="@@output-analysis">Analysis</p>
                    </th>
                </tr>
                <tr>
                    <td colspan="2" class="theme-bg">
                        <select placeholder="Mode" [(ngModel)]="toolMgr.SelectTool.ActiveOperationalLabel" class="theme-bg theme-text" [disabled]="toolMgr.SelectTool.OperationalLabels.length == 1">
                            <option value="" disabled selected i18n="@@analysis-property-placeholder">Select property</option>
                            <option *ngFor="let label of toolMgr.SelectTool.OperationalLabels" [value]="label">{{ label }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select placeholder="Mode" [(ngModel)]="toolMgr.SelectTool.ActiveAnalysisOperation" #t (change)="toolMgr.SelectTool.updateAnalysisResult(operation, t.value)" class="theme-bg theme-text" [disabled]="toolMgr.SelectTool.EnabledAnalysisOperations.length == 1">
                            <option *ngFor="let operation of toolMgr.SelectTool.EnabledAnalysisOperations" [value]="operation">{{ operation }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-color">
                        <p>{{ toolMgr.SelectTool.AnalysisResult | number:'1.0-2' }}</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cards" *ngIf="toolMgr.SelectTool.HighlightedGraphics">
            <ng-container *ngFor="let hGraphic of toolMgr.SelectTool.HighlightedGraphics">
                <div class="card fields-container">
                    <table class="card theme-bg card-fields">
                        <tr *ngFor="let entry of hGraphic.DataArray" (mouseenter)="removeHighlight(hGraphic)" (mouseleave)="addHighlight(hGraphic)">
                            <td class="theme-bg"><p>{{ entry[0] }}</p><br/><p class="content-color">{{ entry[1] | number:'1.0-2' }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-container>
        </div>
    </ng-container>
</app-tool-output>
<!-- Modal Windows  -->
<modal modalTitle="O projektu" [(active)]="uiMgr.infoModalActive" *ngIf="uiMgr.infoModalActive" class="theme-text">
    <main class="content-color" [innerHtml]="appCfg.AboutModalContent" *ngIf="appCfg.AboutModalContent">
    </main>
</modal>
<modal modalTitle="Pomoć" [(active)]="uiMgr.helpModalActive" *ngIf="uiMgr.helpModalActive" class="theme-text">
    <button [innerHtml]="appCfg.AppVersion" class="version" (click)="releaseNotesModal()"></button>
    <main class="content-color" [innerHtml]="appCfg.HelpModalContent" *ngIf="appCfg.HelpModalContent">
    </main>
</modal>
<modal modalTitle="Dobrodošli!" [(active)]="uiMgr.welcomeModalActive" *ngIf="uiMgr.welcomeModalActive" class="theme-text">
    <main class="content-color" [innerHtml]="appCfg.WelcomeModalContent">
    </main>
</modal>
<modal modalTitle="Release notes" [(active)]="uiMgr.releaseNotesModalActive" *ngIf="uiMgr.releaseNotesModalActive" class="theme-text">
    <main class="content-color" [innerHtml]="appCfg.ReleaseNotesModalContent">
    </main>
</modal>
<div id="slice" [style.display]="appCfg.getShowSliceWidget() == true ? 'flex' : 'none'" class="esri-component esri-home esri-widget--button esri-widget" role="button" tabindex="0"
     aria-label="Create slice view" i18n-title="@@slice" title="Create slice view" (click)="getSliceWidget()">
    <span aria-hidden="true" class="esri-icon esri-icon-drag-vertical"></span>
    <span class="esri-icon-font-fallback-text" i18n="@@slice">Create slice view</span>
</div>
<div id="explorer" [style.display]="appCfg.getshowBuildingExplorerWidget() == true ? 'flex' : 'none'" class="esri-component esri-home esri-widget--button esri-widget" role="button" tabindex="0"
     aria-label="Create building explorer view" i18n-title="@@explorer" title="Building explorer" (click)="getBuildingExplorerWidget()">
    <span aria-hidden="true" class="esri-icon esri-icon-organization"></span>
    <span class="esri-icon-font-fallback-text" i18n="@@explorer">Building explorer</span>
</div>
<div id="LoS" [style.display]="appCfg.getshowLineOfSightWidget() == true ? 'flex' : 'none'" class="esri-component esri-home esri-widget--button esri-widget" role="button" tabindex="0"
     aria-label="Create LoS view" i18n-title="@@lineOfSight" title="Create Line of Sight" (click)="getLineOfSightWidget()">
    <span aria-hidden="true" class="esri-icon esri-icon-chart"></span>
    <span class="esri-icon-font-fallback-text" i18n="@@lineOfSight">"Create Line of Sight</span>
</div>
<div id="Elevation" [style.display]="appCfg.getshowElevationProfileWidget() == true ? 'flex' : 'none'" class="esri-component esri-home esri-widget--button esri-widget" role="button" tabindex="0"
     aria-label="Create Elevation profile" i18n-title="@@elevation" title="Create Elevation profile" (click)="getElevationProfileWidget()">
    <span aria-hidden="true" class="esri-icon esri-icon-media"></span>
    <span class="esri-icon-font-fallback-text" i18n="@@elevation">"Create Elevation profile</span>
</div>
<div id="copy" class="esri-component esri-home esri-widget--button esri-widget" role="button" tabindex="0" 
     aria-label="Copy location url" i18n-title="@@copylocation" title="Copy location url" (click)="getCamera(); getDiv();">
    <span aria-hidden="true" class="esri-icon esri-icon-link"></span>
    <span class="esri-icon-font-fallback-text" i18n="@@copylocation">Copy location url</span>
</div>
<div id="copy1" [class.show]="copyLink" class="theme-bg theme-text alert-copy step" aria-label="URL copied!" title="URL copied!">
    <p i18n="@@urlcopy">URL is copied!</p>
</div>